# Shared
NODE_ENV=development

# API
PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=replace-me
SECRETS_ENCRYPTION_KEY=replace-me-too
DATABASE_URL=postgresql://postgres:postgres@db:5432/suresend
REDIS_URL=redis://redis:6379
STRIPE_SECRET_KEY=sk_test_replace

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_NAME=StrategyPlus SureSend
